.comment{
    width:845px;
    padding:20px;
    margin bottom:4px;
    background-color: #fff;
    border-radius:10px;
    border:1px;
    border-color:forestgreen;
  }


  .comment p{
   font-family: :arial;
   font-size:14px;
   line-height:16px;
   color:#282828;
   font-weight:100;
  }

  textarea{
    vertical-align: center;
    width: 700px;
    height:80px;
    background-color: #fff;
    resize:none;
  }